exec/
build/
result/
data/gfile/amazon-ratings.txt
data/gfile/epinions-rating.txt
.cache/
test/
data/rfile/simu_400000.txt
*.log
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
src/CCRTree.cpp
.idea/
data/rfile/pubmed.txt
data/rfile/lastfm_song.txt
data/rfile/edit-dewiki.txt
data/rfile/epinions-rating.txt
data/rfile/digg-votes.txt
data/rfile/twitter.txt
initial.metis
compressed.metis
*.out
tmp/
cmake-build-debug/
time.md
*.test
*.query
data/rfile
log/
